In [2]:
import pandas as pd

In [2]:
# 1-add

d = pd.Series([1,2,3,4,5])
y = pd.Series([99,101,101],index=['10',10,-2])
d = pd.concat([d,y])
print(d)

0       1
1       2
2       3
3       4
4       5
10     99
10    101
-2    101
dtype: int64

In [3]:
# update

d = pd.Series([1,2,3,4,5])
d[2] = 'Three'
print(d)

0        1
1        2
2    Three
3        4
4        5
dtype: object

C:\Users\pruth\AppData\Local\Temp\ipykernel_6740\298418960.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Three' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d[2] = 'Three'

In [6]:
# insert

d = pd.Series([11,22,33,44,55])
i = pd.Series([333],index=[2])
d = pd.concat([d[:2],i,d[2:]])
print(d)

0     11
1     22
2    333
2     33
3     44
4     55
dtype: int64

In [7]:
# delete

d = pd.Series([11,22,33,44,55])
d = d.drop(4)
d

0    11
1    22
2    33
3    44
dtype: int64