In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
           11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    "Name": ["Alice", "bob", "Charlie", "Diana", "Eric", "Fiona", "George", "Henry", "Isabella", "jack",
             "Kevin", "LISA", "Ali", "NaN", "daniel", "Ali", "Samuel", "ALICE", "George", "Zayn"],
    "Age": [18, 17, 17.0, None, 16, 18, 25, 17, 17, 16,
            None, 18, 19, 20, "seventeen", 19, 21, 18, 25, 22],
    "Gender": ["Female", "male", "Male", "Female", "Male", "Female", "Male", "Male", "F", "M",
               "Male", "female", "Male", "Other", "M", "Male", "Female", "FEMALE", "MALE", "unknown"],
    "StudyHours": [5.0, None, 6.5, 2.0, 20.0, 3.0, 1.5, 4.0, 5.0, 6.0,
                   None, 3.5, 4.2, 5.1, "four", 2.2, 3.3, 6.7, 1.1, 5.5],
    "Attendance": [90, 85, 88, 45, 95, "N/A", 10, 80, 89, 87,
                   60, 70, 77, 100, 85, 75, None, 90, 10, "eighty"],
    "TestScore": [82, 79, 88, 40, 105, 55, 12, "NULL", 78, 84,
                  60, 63, 59, 91, 71, 85, 69, 77, 15, 88],
    "Passed": ["Yes", "YES", "yes", "No", "Yes", "No", "no", "Yes", "Yes", "yess",
               "No", "no", "Yes", "No", "Y", "Yes", "YES", "yes", "No","maybe"]
}

df = pd.DataFrame(data)
df

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)
df.isna().sum()

In [ ]:
df['Age'].fillna(df['Age'].mode()[0],inplace=True)
df

In [ ]:
print(df['StudyHours'].dtype)

In [ ]:
df['StudyHours'] = pd.to_numeric(df['StudyHours'], errors='coerce')  # use this before astype
print(df['StudyHours'].dtype)
df

In [ ]:
df['StudyHours'] = df['StudyHours'].astype('float64')   # ValueError: could not convert string to float: 'four'
print(df['StudyHours'].dtype)
df

In [ ]:
df['StudyHours'].fillna(df['StudyHours'].mean(),inplace=True)

In [ ]:
df.isnull().sum()
df

In [ ]:
df['Attendance'] = pd.to_numeric(df['Attendance'], errors='coerce')
df['Attendance'] = df['Attendance'].astype('Int64')
print(df)
print(df['Attendance'].dtype)

In [ ]:
df['Attendance'].fillna(df['Attendance'].mode()[0], inplace=True)

In [ ]:
for i in df.index:
    if df.loc[i,'Name'] == 'NaN':
        df.loc[i,'Name'] = 'Unknown'

df

In [ ]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].astype('Int64')
print(df)
print(df['Age'].dtype)

In [ ]:
df['Age'].fillna(df['Age'].mode()[0],inplace=True)
df

In [ ]:
df['Gender']

for i in df.index:
    if (df.loc[i,'Gender']).upper().startswith('F'):
        df.loc[i,'Gender'] = 'F'
    
    elif (df.loc[i,'Gender']).upper().startswith('M'):
        df.loc[i,'Gender'] = 'M'

    else:
        df.loc[i,'Gender'] = 'O'

df

In [ ]:
for i in df.index:
    if (df.loc[i,'Passed']).upper().startswith('Y'):
        df.loc[i,'Passed'] = 'Y'
    
    elif (df.loc[i,'Passed']).upper().startswith('N'):
        df.loc[i,'Passed'] = 'N'

    elif df.loc[i,'TestScore']>40 :
        df.loc[i,'Passed'] = 'Y'
    
    else:
        df.loc[i,'Passed'] = 'N'


df

In [ ]:
df['TestScore'] = pd.to_numeric(df['TestScore'], errors='coerce')
df['TestScore'] = df['TestScore'].astype('Int64')
print(df)
print(df['TestScore'].dtype)

In [ ]:
df['TestScore'].fillna(df['TestScore'].mode()[0], inplace=True)
df

In [ ]:
# Replacing Values

df.replace({'Y': "Success", 'N': 'Failure'},inplace=True)
df

In [ ]:
# Conditional column

df['Category'] = df['Age'].apply(lambda x:'Adult' if x>18 else 'Child')
df

In [ ]:
# Merge

df["Name_Category"] = df["Name"]+"-"+df["Category"]
df

In [ ]:
# Split

df["Name-split()"] = df['Name_Category'].str.split("-").str[0]

df