In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import numpy as np
data={
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
             11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
             21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
             31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
             41, 42, 43, 44, 45, 46, 47, 48, 49, 50,50],

      'Name': ['Name_1', 'Name_2', 'Name_3', 'Name_4', 'Name_5', 'Name_6', 'Name_7',
               'Name_8', 'Name_9', 'Name_0', 'Name_1', 'Name_2', 'Name_3', 'Name_4',
               'Name_5', 'Name_6', 'Name_7', 'Name_8', 'Name_9', 'Name_0', 'Name_1',
               'Name_2', 'Name_3', 'Name_4', 'Name_5', 'Name_6', 'Name_7', 'Name_8',
               'Name_9', 'Name_0', 'Name_1', 'Name_2', 'Name_3', 'Name_4', 'Name_5',
               'Name_6', 'Name_7', 'Name_8', 'Name_9', 'Name_0', 'Name_1', 'Name_2',
               'Name_3', 'Name_4', 'Name_5', 'Name_6', 'Name_7', 'Name_8', 'Name_9', 'Name_0','Name_0'],

      'Age': [31, 32, 29, 34, 36, 42, 48, 46, 38, 30, 47, 29, 23, 28, 30, 21, 41,
              40, 25, 23, 20, 37, 27, 25, 41, 40, 20, 43, 47, 29, 28, 30, 48, 47,
              30, 22, 28, 49, 28, 20, 29, 40, 46, 25, 42, 45, 43, 27, 46, 35,35],

      'City': ['City_A', 'City_B', 'City_C', 'City_D', 'City_E', 'City_A', 'City_B',
               'City_C', 'City_D', 'City_E', 'City_A', 'City_B', 'City_C', 'City_D',
               'City_E', 'City_A', 'City_B', 'City_C', 'City_D', 'City_E', 'City_A',
               'City_B', 'City_C', 'City_D', 'City_E', 'City_A', 'City_B', 'City_C',
               'City_D', 'City_E', 'City_A', 'City_B', 'City_C', 'City_D', 'City_E',
               'City_A', 'City_B', 'City_C', 'City_D', 'City_E', 'City_A', 'City_B',
               'City_C', 'City_D', 'City_E', 'City_A', 'City_B', 'City_C', 'City_D', 'City_E','City_E'],

      'Score': [92, 83, 26, 56, 67,  9, 64, 46, 65, 59, 71, 46, 63, 21, 81, 25, 17,
               19, 45,  2, 83, 76, 51, 84, 45, 88, 96, 28, 54, 87, 60,  4, 26, 48,
               74, 89, 91,  6, 31, 21,  5, 40,  0, 33, 63, 92, 44, 80,  4, 87,87],

      'Remarks': ['Pass', 'Fail', None, 'Pass', 'Fail', 'Pass', 'Fail', None, 'Pass',
                  'Fail', 'Pass', 'Fail', None, 'Pass', 'Fail', 'Pass', 'Fail', None,
                  'Pass', 'Fail', 'Pass', 'Fail', None, 'Pass', 'Fail', 'Pass', 'Fail',
                  None, 'Pass', 'Fail', 'Pass', 'Fail', None, 'Pass', 'Fail', 'Pass',
                  'Fail', None, 'Pass', 'Fail', 'Pass', 'Fail', None, 'Pass', 'Fail',
                  'Pass', 'Fail', None, 'Pass', 'Fail','Fail']
      }
df = pd.DataFrame(data)
print(df.to_string())

In [ ]:
df.info()

In [ ]:
# Replacing Values

df.replace({'Pass': "Success", 'Fail': 'Failure'},inplace=True)
df

In [ ]:
# Split

df["City_Split"] = df['City'].str.split("_").str[1]

df

In [ ]:
# Merge

df["City_Name"] = df["City"]+"-"+df["Name"]
df

In [ ]:
'''

6. Pivoting Columns

Pivoting: Pivoting is the process of reshaping data by turning unique values from

one column into multiple columns to create a summarized or reorganized table.

'''

pivot_df = df.pivot_table(values='Score', index='City', columns='Remarks', aggfunc='mean').reset_index()

df = df.merge(pivot_df, on='City', how='left')

df

In [ ]:
'''
 7. Unpivoting Columns

Unpivoting: Unpivoting is the reverse of pivoting, where multiple columns

are converted into rows to make the dataset longer and more normalized.

'''

unpivoted = df.melt(id_vars=['ID','Remarks'], value_vars=['Failure', 'Success'])

df = df.merge(unpivoted, how='left')
df

In [ ]:
# Grouping data

grouped = df.groupby('City')['Score'].mean()
df = df.merge(grouped, on='City',how='left')

df

In [ ]:
# Conditional column

df['Category'] = df['Score_x'].apply(lambda x:'High' if x>60 else 'Low')
df